*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*:before, *:after{
  box-sizing: border-box;
}

.error {
  color: #EF5350;
}

.inputText, .inputBtn{
  padding: 15px;
  font-size: 15px;
  margin-left: 10px;
}
ul { list-style: none; border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}
.planetResult {
  padding: 15px;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  color: #333;
  font-size: 16px;
}
.planetResult:last-child {
  border-bottom: none;
}
.searchContainer {
  max-width: 1000px;
  margin: 0px auto;
}
.searchContainer .inputSearchTxt {
  padding: 15px;
  font-size: 15px;
  margin: 0px auto;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 15px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
